<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.1.xsd">

	<bean id="appstatus" class="net.sf.appstatus.core.AppStatus"
		init-method="init" scope="singleton">
		<property name="objectInstanciationListener" ref="appstatusInstanciation" />
		<!-- Status Checkers -->
		<property name="checkers">
			<list>
				<ref bean="dummyCheck" />
				<ref bean="googleCheck" />
				<ref bean="googlePingCheck" />
			</list>
		</property>

		<!-- Property providers -->
		<property name="propertyProviders">
			<list>
				<ref bean="dummyProperties" />
				<ref bean="warProperties" />
			</list>
		</property>

		<!-- Configuration -->
		<property name="configuration">
			<props>
				<prop key="services.log.format">spring:${correlationId}|${group}|${name}|${responseTime}|${cache}|${status}|${statusMessage}
				</prop>
			</props>
		</property>

	</bean>

	<bean id="appstatusInstanciation"
		class="net.sf.appstatus.core.spring.SpringObjectInstantiationListener"
		scope="singleton" />

	<bean id="batch" class="net.sf.appstatus.demo.batch.BatchSample">
		<property name="appstatus" ref="appstatus" />
	</bean>

	<!-- Status Checkers -->
	<bean id="dummyCheck" class="net.sf.appstatus.demo.check.DummyStatusChecker"
		scope="singleton" />
	<bean id="googleCheck" class="net.sf.appstatus.demo.check.GoogleHttpStatusChecker"
		scope="singleton" />
	<bean id="googlePingCheck" class="net.sf.appstatus.demo.check.GooglePingStatusChecker"
		scope="singleton" />
	<!-- Property providers -->
	<bean id="dummyProperties" class="net.sf.appstatus.demo.property.DummyPropertyProvider"
		scope="singleton" />
	<bean id="warProperties"
		class="net.sf.appstatus.core.property.impl.WarMavenVersionProvider"
		scope="singleton" />


</beans>